<ion-view view-title="Login">
  <ion-content class="padding">
    <form class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      <br>
      <button class="button button-block button-positive" href="#/dash">
        Submit
      </button>
      <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</a>
    </form>
  </ion-content>
</ion-view>
