<ion-view view-title="Profile">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <img src="./img/ben.png">
        <h2>Ben</h2>
        <p>Followers: 0 | Following: 0 | Lists: 2</p>
      </div>

      <div class="item item-body">
        <!-- <div class="row"> -->
          <div class="card" class="col">
            <div class="item item-divider">
              My Saved Places
            </div>
            <div class="item item-text-wrap">
              <ol>
                <li>1. True Food Kitchen</li>
              </ol>
            </div>
          </div>
          <div class="card" class="col">
            <div class="item item-divider">
              My Liked Places
            </div>
            <div class="item item-text-wrap">
              <ol>
                <li>1. True Food Kitchen</li>
                <li>2. sweetgreen</li>
                <li>3. Seasons 52</li>
                <li>4. R+D Kitchen</li>
              </ol>
            </div>
          </div>
        <!-- </div> -->
      </div>

      </div>
    </div>
  </ion-content>
</ion-view>
