<ion-view view-title="Settings">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <div class="item item-avatar">
          <img src="./img/ben.png">
          <p>Edit Profile Picture</p>
        </div>
        <form class="card" method="post">
          <label class="item item-input">
            <span class="input-label">First Name</span>
            <input type="text" value="Ben">
          </label>
          <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" value="Sparrow">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" value="ben@test.com">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="text" value="********">
          </label>
          <label class="item item-input">
            <span class="input-label">Phone Number</span>
            <input type="text" value="(555) 555-5555">
          </label>
          <label class="item item-input">
            <span class="input-label">Bio</span>
            <textarea placeholder=" Enter your bio here"></textarea>
          </label>
          <label class="item item-input">
            <span class="input-label">Location</span>
            <input type="text" value="Santa Monica">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Gender
            </div>
            <select>
              <option selected>Male</option>
              <option>Female</option>
              <option>None of our business!</option>
            </select>
          </label>
          <br>
          <button class="button button-block button-positive" href="#/dash">
            Update Changes
          </button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
