<ion-view view-title="List View">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <ion-list>
      <ion-item id="list" class="item-thumbnail-left item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.imageFront}}">
        <h2><b>{{chat.place}}</b></h2>
        <p><b>Address:</b> {{chat.address}}</p>
        <p><b>Phone:</b> {{chat.phone}}</p>
        <p><a ng-href="{{chat.website}}"><b>Website</b></a></p>
        <p><b>Hours:</b> {{chat.hours}}</p>
        <p><b>Menu:</b> {{chat.menu.item1}}, {{chat.menu.item2}}, {{chat.menu.item3}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
