<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ul class="list">
        <ion-toggle  ng-model="settings.enableFriends">
            Enable Friends
        </ion-toggle>
        <ion-item class="item-icon-right" type="item-text-wrap" href="#">
          Signup/Login
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" type="item-text-wrap" href="#">
          Profile
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" type="item-text-wrap" href="#">
          Settings
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" type="item-text-wrap" href="#">
          Logout
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ul>
    </ion-list>
  </ion-content>
</ion-view>
