/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.item-select select
{
    right: auto;
    padding: 13px 45px 15px 0px;
    direction: ltr;
}

.firstHeading {
  text-align: center;
}
